# fly.toml app configuration file generated for fly-tcoder-ffmpeg-worker-31657fa on 2025-12-24T22:57:24+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fly-tcoder-ffmpeg-worker-31657fa'
primary_region = 'fra'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 2
  memory_mb = 512
